@import "tailwindcss";

.dot-1,
.dot-2,
.dot-3 {
  animation: scaleInOut 1.5s ease-in-out alternate infinite;
}
.dot-2 {
  animation-delay: 0.2s;
}
.dot-3 {
  animation-delay: 0.4s;
}

@keyframes scaleInOut {
  0%, 80%, 100% {
    transform: scale(1)
  }
  30% {
    transform: scale(1.5)
  }
}